<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jabez Roberts Personal Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
</head>


<body>

    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"> <a
                    href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg> </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
                    <li><a href="https://jabezroberts.github.io/html-portfolio/" target="_blank"
                            class="nav-link px-2 link-body-emphasis">Resume</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">Projects</a></li>
                    <li><a href="https://www.jabezroberts.com/contact/" target="_blank"
                            class="nav-link px-2 link-body-emphasis">Contact</a></li>
                </ul>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"> <input type="search"
                        class="form-control" placeholder="Search..." aria-label="Search"> </form>
                <div class="dropdown text-end"> <a href="#"
                        class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false"> <img
                            src="static/jabez roberts blurred.jpg" alt="jabez roberts html css portfolio"
                            width="35" height="35" class="rounded-circle"> </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="https://www.jabezroberts.com/" target="_blank">Hire</a></li>
                        <li><a class="dropdown-item" href="https://zeilhan.com/testimonials/"
                                target="_blank">Testimonials</a></li>
                        <li><a class="dropdown-item"
                                href="https://www.youtube.com/channel/UCjK0TaBO3ItPLctvfpbmqkQ">Learn For Free</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>


    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold text-body-emphasis">I Build Clean, Modern Websites That Get Results</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Whether you need a sleek portfolio, a business site, or a custom web solution — I
                design and develop responsive, mobile-first websites that look great and perform even better. Explore my
                work and see how I can bring your vision to life.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <p> <a href="https://zeilhan.com/" target="_blank" class="btn btn-primary my-2 btn-purple-gradient">Hire Me</a> <a
                        href="https://www.jabezroberts.com/contact/" target="_blank"
                        class="btn btn-secondary my-2 btn-purple-gradient-secondary">Contact Me</a> </p>
            </div>
        </div>
        <div class="overflow-hidden" style="max-height: 70vh;">
            <div class="container px-5"> <img src="static//website.png"
                    class="img-fluid border rounded-3 shadow-lg mb-5" alt="website picture" width="900" height="800"
                    loading="lazy"> </div>
        </div>
    </div>

    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Skills That Drive Results</h2>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('static//programmer.jpg'); background-position: center top; background-size: cover; background-repeat: no-repeat">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Full Stack Engineering</h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto"> <img src="static//jabez roberts blurred.jpg" alt="Full Stack Engineering"
                                    width="32" height="32" class="rounded-circle border border-white"> </li>
                            <li class="d-flex align-items-center me-3"> <svg class="bi me-2" width="1em" height="1em"
                                    role="img" aria-label="Location">
                                    <use xlink:href="#geo-fill"></use>
                                </svg> <small>Javascript, Python, Tailwind</small> </li>
                            <li class="d-flex align-items-center"> <svg class="bi me-2" width="1em" height="1em"
                                    role="img" aria-label="Duration">
                                    <use xlink:href="#calendar3"></use>
                                </svg> <small>3d</small> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('static//designer.jpg'); background-position: center top; background-size: cover; background-repeat: no-repeat">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">UX & Product Design
                        </h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto"> <img src="static//jabez roberts blurred.jpg" alt="Jabez Roberts Photo"
                                    width="32" height="32" class="rounded-circle border border-white"> </li>
                            <li class="d-flex align-items-center me-3"> <svg class="bi me-2" width="1em" height="1em"
                                    role="img" aria-label="Location">
                                    <use xlink:href="#geo-fill"></use>
                                </svg> <small>Adobe XD, Figma</small> </li>
                            <li class="d-flex align-items-center"> <svg class="bi me-2" width="1em" height="1em"
                                    role="img" aria-label="Duration">
                                    <use xlink:href="#calendar3"></use>
                                </svg> <small>4d</small> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('static//marketing2.jpg'); background-position: center top; background-size: cover; background-repeat: no-repeat">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Digital Marketing Strategy</h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto"> <img src="static//jabez roberts blurred.jpg" alt="Digital Marketing"
                                    width="32" height="32" class="rounded-circle border border-white"> </li>
                            <li class="d-flex align-items-center me-3"> <svg class="bi me-2" width="1em" height="1em"
                                    role="img" aria-label="Location">
                                    <use xlink:href="#geo-fill"></use>
                                </svg> <small>Drive Results</small> </li>
                            <li class="d-flex align-items-center"> <svg class="bi me-2" width="1em" height="1em"
                                    role="img" aria-label="Duration">
                                    <use xlink:href="#calendar3"></use>
                                </svg> <small>5d</small> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h2 class="fw-bold">Some of My Favorite Projects</h2>
                <p class="lead text-body-secondary">Here’s a glimpse of the websites and digital solutions I’ve crafted
                    — each tailored to solve real business problems with clean design, smart code, and effective
                    strategy.
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static//furniture ecommerce.png" class="bd-placeholder-img card-img-top"
                            alt="E-Commerce Website">
                        <div class="card-body">
                            <h3 class="fw-bold">Ecommerce Website</h3>
                            <p class="card-text">A sleek, conversion-focused online store designed for seamless shopping
                                and easy management — built to help businesses sell more, faster.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group"> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">View</button> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small
                                    class="text-body-secondary">3hrs 15mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static//business-consultant.png" class="bd-placeholder-img card-img-top"
                            alt="Consultant Website">
                        <div class="card-body">
                            <h3 class="fw-bold">Consulting Website</h3>
                            <p class="card-text">A professional, credibility-driven site crafted to position experts as
                                trusted authorities while generating qualified client leads.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group"> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">View</button> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small
                                    class="text-body-secondary">1hr 28mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static//real-estate-website.jpg" class="bd-placeholder-img card-img-top"
                            alt="Real Estate Website">
                        <div class="card-body">
                            <h3 class="fw-bold">Real Estate Website</h3>
                            <p class="card-text">A modern property showcase platform with intuitive search and lead
                                capture, tailored for agents and agencies to close more deals.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group"> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">View</button> <button type="button"
                                        class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small
                                    class="text-body-secondary">2hrs 30mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6"> <img src="static//jabez roberts blurred.jpg"
                    class="d-block mx-lg-auto img-fluid" alt="Jabez Roberts Photo" width="400" height="350"
                    loading="lazy"> </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Behind the Work</h1>
                <p class="text-body-secondary">I’m Jabez Roberts — an entrepreneur, investor, and philanthropist from Jamaica. I’m the
                    Founder and CEO of multiple companies, including Zeilhan Systems Limited, FixIt Pros Ja, and Ei Sei
                    Xin Investments. Whether I’m building digital products, growing businesses, or giving back, I’m
                    driven by a passion for innovation, impact, and creating opportunities for others.</p>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Get In Touch</h2>
        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
            <div class="col d-flex flex-column align-items-start gap-2">
                <h3 class="fw-bold text-body-emphasis">Let’s Connect</h3>
                <p class="text-body-secondary">Have an idea, project, or partnership in mind? I’m always open to
                    connecting with driven individuals and teams. Whether you need a website, strategic guidance, or
                    simply want to network — feel free to reach out. Let’s build something meaningful together.</p>
                <a href="https://jabezroberts.com/" target="_blank" class="btn btn-primary my-2 btn-purple-gradient">Contact Me</a>
            </div>
            <div class="col">
                <div class="row row-cols-1 row-cols-sm-2 g-4">
                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-purple-gradient fs-4 rounded-3">
                            <svg class="bi" width="1em" height="1em" aria-hidden="true">
                                <use xlink:href="#collection"></use>
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Call</h4>
                        <p class="text-body-secondary">(876) 555-1234</p>
                    </div>
                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-purple-gradient fs-4 rounded-3">
                            <svg class="bi" width="1em" height="1em" aria-hidden="true">
                                <use xlink:href="#gear-fill"></use>
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Email</h4>
                        <p class="text-body-secondary">contact@jabezroberts.com</p>
                    </div>
                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-purple-gradient fs-4 rounded-3">
                            <svg class="bi" width="1em" height="1em" aria-hidden="true">
                                <use xlink:href="#speedometer"></use>
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Vist</h4>
                        <p class="text-body-secondary">Kingston, Jamaica</p>
                    </div>
                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-purple-gradient fs-4 rounded-3">
                            <svg class="bi" width="1em" height="1em" aria-hidden="true">
                                <use xlink:href="#table"></use>
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">When to Connect</h4>
                        <p class="text-body-secondary">Mon - Fri: 10 AM to 2 PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section id="footer">
        <div class="container">
            <footer class="py-5">
                <div class="row">
                    <div class="col-6 col-md-2 mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQ</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Testimonials</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-2 mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Services</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Full Stack Development</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Front End Development</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Back End Development</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">App Development</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-2 mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Business Consulting</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Digital Marketing</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Production & Video</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Lead Generation</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Email Marketing</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 offset-md-1 mb-3">
                        <form>
                            <h5>Never Miss Out on the Latest News</h5>
                            <p>Get a monthly roundup of the latest projects, insights, and exciting updates — straight
                                to your inbox.</p>
                            <div class="d-flex flex-column flex-sm-row w-100 gap-2 "> <label for="newsletter1"
                                    class="visually-hidden">Email address</label> <input id="newsletter1" type="email"
                                    class="form-control" placeholder="Email address"> <button class="btn btn-primary btn-purple-gradient"
                                    type="button">Join</button> </div>
                        </form>
                    </div>
                </div>
                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <p>© 2025 Jabez Roberts, Inc. All rights reserved.</p>
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3">
                            <a class="link-body-emphasis" href="https://www.instagram.com/jabezroberts7/"
                                target="_blank" aria-label="Instagram">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </li>
                        <li class="ms-3">
                            <a class="link-body-emphasis" href="https://linkedin.com/in/jabezroberts" target="_blank"
                                aria-label="LinkedIn">
                                <i class="bi bi-linkedin"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </footer>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>

</html>